{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/full.css' %}">
    <script src="{% static 'js/tailwind.js' %}"></script>
    <title>menu</title>
</head>
<body>
    
    {% block menu %}
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <a href="{% url 'ticketAdmin' %}" type="button" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-50 dark:focus:ring-purple-900">ADMIN</a>

        <form method="post" action="{% url 'log_out' %}">
          {% csrf_token %}
          <input type="submit" value="exit" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-50 dark:focus:ring-purple-900">
        </form>

        <a href="{% url 'login' %}" type="button" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-50 dark:focus:ring-purple-900">Login</a>

        <a href="{% url 'register' %}" type="button" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Sign up</a>
  </div>
    {% endblock %}


</main>
</body>
</html>