{% extends 'base/headerBase.html' %}
{% block content %}
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
<form method="POST" class="bg-purple-400">
    {% csrf_token %}
    <div class=" mx-auto py-4  min-w-full  flex flex-row  items-center">
            <button class="btn btn-outline m-5 bg-base-100" name="All" value="All" style="margin-left: 23%;">Бүгд</button>
            <button class="btn btn-outline m-5 bg-base-100" name="bujig" value="bujig" >Бүжиг</button>
            <button class="btn btn-outline m-5 bg-base-100" name="jujig" value="jujig" >Жүжиг</button>
            <button class="btn btn-outline m-5 bg-base-100" name="concert" value="concert" >Концерт</button>
            <button class="btn btn-outline m-5 bg-base-100" name="duuri" value="duuri" >Дуурь</button>
            <button class="btn btn-outline m-5 bg-base-100" name="ballet" value="ballet" >Балет</button>
            <button class="btn btn-outline m-5 bg-base-100" name="lecture" value="lecture" style="margin-right: 25%" >lecture</button>
    </div>
</form>
<div class=" mx-auto py-4  min-w-full  flex flex-row  items-center">
    <div style="
    width: 60%; 
    height: 100%; 
    background-color: rgb(255, 255, 255); 
    margin-left: 20% ; 
    height: 100%;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px #888888;
    border-radius: var(--rounded-btn,.5rem);">
        <table>
            <tr>
                <td>№</td>
                <td>Гарчиг</td>
                <td>Төрөл</td>
                <td>
                
                </td>
                <td>
                    
                </td>
            </tr>
            {% for info in data %}
            <tr>
                <td>{{info.tnum}}</td>
                <td>{{info.title}}</td>
                <td>{{info.catname}}</td>
                <td>
                    <a href="{% url 'registerTicket' info.tnum %}" class="w-full text-black bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">edit</a>
                </td>
                <td>
                    <a href="{% url 'delete' info.tnum %}" class="w-full text-black bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>     
    </div>
</div>
<div class="col-xs-1" align="center"><a href="{% url 'registerTicket' 0 %}" class="w-full text-black bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">add ticket</a></div>
   



{% endblock %}